<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @new_book %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
      <table class='table'>
        <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image(100, 100) %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <% if @book.user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
       <!--いいね数とコメント件数-->
          <td id= "favorite_buttons_<%= @book.id %>">
            <%= render "favorites/favorite", book: @book %>
          </td>
          <td id= "count">
            <%= render 'book_comments/comment_count', book: @book %>
          </td>
        </tr>
      </table>
       <!--コメントを投稿した人のnameとプロフィール写真とコメント内容、Destroy機能-->
      <div id= "comments" >
          <%= render 'book_comments/book_comments', book: @book %>
      </div>
        <!--コメントの送信-->
        <%= render 'book_comments/form', book: @book, book_comment: @book_comment %>
    </div>
  </div>
</div>