<table class='table table-hover table-inverse'>
  <% if @range == "User" %>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
       <!--対象モデルがUserの時-->
       <h2>Users search for "test"</h2>
       <% @users.each do |user| %>
         <tr>
           <td>
             <%= link_to user_path(user.id) do %>
               <%= image_tag user.get_profile_image(50,50) %>
             <% end %>
           </td>
           <td><%= user.name %></td>
           <td></td>
         </tr>
       <% end %>
   </tbody>
  <% else %>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
      <tbody>
        <!--検索対象モデルがUserではない時（＝　検索対象モデルがBookの時）-->
        <h2>Books search for "test"</h2>
        <% @book.each do |book| %>
          <tr>
            <td>
              <%= link_to user_path(book.user.id) do %>
                <%= image_tag book.user.get_profile_image(50,50) %>
              <% end %>
            </td>
            <td><%= link_to book.title,book_path(book.id) %></td>
            <td><%= book.body %></td>
          </tr>
       <% end %>
     </tbody>
  <% end %>
 </table>